html{
    scroll-behavior: smooth;
    font-family: "Signika Negative", sans-serif;

}


body {
    background-color: rgb(39, 39, 39);
    font-size: large;
    text-align: justify;
    margin: 5%;
}

#inicio {
    color: rgb(197, 185, 13);
}

#intro {
    color: darkcyan;
}

#problema {
    color: rgb(207, 207, 207);
}

#resolução {
    color: green;
}

#aplicação {
    color: goldenrod;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

a {
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
}

a ::after {
    color: inherit;
    text-decoration: none;
}

a :active {
    color: inherit;
    text-decoration: none;
}
nav a:hover {
    font-size: 110%;
    font-style: italic;
}

nav a:active {
    color: inherit;
}

#int {
    color: darkcyan;
}




#prob {
    color: rgb(207, 207, 207); ;
}

#resol {
    color: green;
}

#aplica {
    color: goldenrod;
}